*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

header{
    background-color: #0184fd;
    padding: 0.7rem;    
}

.menu{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.icon-menu{
    color: white;
}

.ul-menu{
    display: none;
}

.header-button{
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;       
}

.header-button a{
    color: black;
}

main{
    width: 100%;
}

.first-column{
    padding: 1rem 1rem;
}

.col{
    background-color: #b5ddff;
    text-align: center;
    padding: 3rem 1rem;
    margin-top: 10px;
    border-radius: 20px;
}

.col-apple{
    text-align: left;
    background-color: #b5ddff;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    padding-top: 3rem;
    border-radius: 20px;
}

.col-apple p{
    margin-bottom: 3rem;
}

.col-apple img{
    margin-top: 3rem;
}

.col i{
    color: #0184fd;
}

.fa-5x{
    margin-bottom: 2rem;
}

h2{
    color: #0686fd;
    margin-bottom: 1rem;
}

p{
    margin-bottom: 1rem;
    line-height: 1.8rem;
}

.apple{
    background-color: #0184fd;
    border-radius: 15px;
    padding: 0.5rem 3rem;
    text-align: center;    
}

.apple a{
    color: white;
}

img{
    width: 100%;
    margin-bottom: -0.3rem;
}

.planning1{
    color: white;  
}

.planning1 h2{
    color: white;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.planning2{
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem 1rem;
    text-align: center;
}

.planning2 h2{
    color: black;
    margin-top: 3rem;
}

.strategic-plan p{
    padding:1rem 0;
}

.strategic-plan{
    background-color: #9792e4;
    width: 100%;
    padding: 2rem 1rem;
}

.arrow-down-violet{
    background-color:#9792e4 ;
    padding: 0.7rem 1rem;
    border-radius: 50%;
}

.expert-partners{    
    padding: 1.5rem 1rem;
    text-align: center;
}

.expert-partners h3{
    margin: 2rem 0;
}

.title-expert{
    color: #9792e4;
}

.partners{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
    margin: 1.5rem 0;
}

.card-img{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

.img-container{     
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; 
}

.img-container img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.benefits{
    background-color: #9792e4;
    padding: 1rem 1rem;
}

.benefits-column{
    padding: 1rem 1rem;
}

.benefits h2{
    color: white;
    text-align: center;
}

.benefits-col{
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 20px;
    text-align: left;
    padding: 1rem;
}

.benefits-col{
    color: #9792e4;
}

.number{
    font-size: 40px;
    margin: 1.5rem 0;
}

.benefits-col p{
    color: black;
}

.benefits-col h2{
    color: #9792e4;
}

.more-button a{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 3rem;
}

.benefits-column .benefits-col h2{
    text-align: left;
}

.about-us{
    padding: 1.5rem 1rem;
}

.about-us h2{
    color: #9792e4;
    font-size: 50px;
}

.about-us p{
    margin: 3rem 0;
}

.about{
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem
}

.about-us-container{
    padding: 1rem 1rem;
}

.img-container-about{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%; 
}

.img-icon{
    position: relative;
}

.title-img h2{
    font-size: 20px;
    padding: 1.5rem 0;
}

.about-us .fa-solid.fa-quote-left{
    color: #9792e4;
}

.fa-solid.fa-quote-left.fa-2x{
    position: absolute;
    color: #9792e4;
    left: 150px;
    top: 0%;
    font-size: 4rem;
}

.It-free{
    background-color: #9792e4;
    padding: 1rem;
}

.container-free{
    text-align: center;
    padding: 1.5rem 1rem;
    color: white;
}

.container-free h2{
    color: white;
    margin-top: 1.5rem;
}

.legacy{
    margin-top: 3rem;
    font-size: 9px;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.fa-solid.fa-circle.fa-2xs{
    padding-left: 1rem;
}

.container-free .yellow{
    color: #fdc15f;
    margin-top: 1.5rem;
    font-size: 3rem;
}

.container-free p{
    margin: 3rem 0;
}

.gray{
    color: #c7c5f0;
}

.container-free p{
    margin: 3rem 0;
}

.get-started a{
    color: #9792e4;
}

.get-started{
    background-color: white;
    border-radius: 40px;
    padding: 1rem 4rem;
}

footer{
    text-align: center;
    background-color: #333333;
    color: white;
    font-size: 12px;
}

.container-foot{
    padding: 1.5rem 1rem;
}

.container-foot p a{
    color: #706d9e;
    text-decoration: underline;
}

@media screen and (min-width:768px){

    .first-column{
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
    }

    .col-apple{
        width: 66%;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }

    .expert-partners{
        text-align: inherit;
    }

    .card-title-expert{
        text-align: center;
    }

    .col-apple img{
        width: 60%;
    }
    
    .col{
        width: calc(96%/3);
    }
 
    .partners{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1rem;        
    } 

    .benefits-column{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-col{
        width: calc(98%/2);
    }

    .about-us-container{
        display: flex;
        padding: 1rem 4rem;
        justify-content: space-between;
    } 
    
    .about-us-text{
        flex-basis: 60%;
    }

    .about-us-img{
        flex-basis: 30%;
    }

    .container-free{
        padding: 1rem 6rem;
        width: 85%;
        margin: auto;
    }

    .container-foot{
        padding: 1rem 6rem;
        width: 70%;
        margin: auto;
    }
    
}



