*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

header{
    background-color: #0184fd;
    padding: 0.7rem;    
}
.menu{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.icon-menu{
    color: white;
}
.ul-menu{
    display: none;
}
.header-button{
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;       
}
.header-button a{
    color: black;
}
main{
    width: 100%;
}

.first-column{
    padding: 1rem 1rem;
}
.col{
    background-color: #b5ddff;
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 10px;
    border-radius: 20px;
}
.col-apple{
    text-align: left;
    background-color: #b5ddff;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 20px;
}
.col i{
    color: #0184fd;
}
h2{
    color: #0686fd;
    margin-bottom: 1rem;
}
p{
    margin-bottom: 1rem;
}
.apple{
    background-color: #0184fd;
    border-radius: 15px;
    padding: 0.5rem 0.5rem;
    text-align: center;
    width: 10%;
}
.apple a{
    color: white;
}
img{
    width: 100%;
    margin-bottom: -0.3rem;
}

.planning1{
    color: white;  
}
.planning1 h2{
    color: white;
    font-size: 2.5rem;
}
.planning2{
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem 1rem;
    text-align: center;
}
.planning2 h2{
    color: black;
}
.strategic-plan p{
    padding:1rem 0;
}
.strategic-plan{
    background-color: #9792e4;
    width: 100%;
    padding: 2rem 1rem;
}
.arrow-down-violet{
    background-color:#9792e4 ;
    padding: 0.7rem 1rem;
    border-radius: 50%;
}



